.fightarea{
    display: flex;
    gap: 20px;
}

#char, #monster {
    flex: 1;
}

.lifebar {
    height: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.lifebar .bar{
    height: inherit;
    background-color: red;
    border-radius: 5px;
}

.log {
 

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;

    height: 500px;
    overflow-y: scroll;
}